{% extends 'base_generic.html' %}

{% block content %}
<h2>Etkinlik Ekle</h2>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <div id="map" style="height: 400px; width: 100%;"></div>


    <select class="form-control">
    {% for value, label in form.category.field.choices %}
        <option value="{{ value }}">{{ label }}</option>
    {% endfor %}
</select>

     <button type="submit">Kaydet</button>

</form>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
    var map = L.map('map').setView([39.9334, 32.8597], 13); // Ankara merkezi

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var marker = L.marker([39.9334, 32.8597]).addTo(map);

    map.on('click', function(e) {
        var lat = e.latlng.lat;
        var lng = e.latlng.lng;

        marker.setLatLng([lat, lng]).setPopup("Yeni Konum: " + lat.toFixed(4) + ", " + lng.toFixed(4)).openPopup();

        document.getElementById("id_latitude").value = lat;
        document.getElementById("id_longitude").value = lng;
        document.getElementById("id_location").value = lat.toFixed(4) + ", " + lng.toFixed(4);  // Konum textbox'ı
    });
</script>

{% endblock %}
