{% load static %}

<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İlgi Alanı Düzenle</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>İlgi Alanı Düzenle</h1>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Kaydet</button>
        </form>

        <a href="{% url 'user_interests' %}" class="btn">Geri Dön</a>
    </div>
</body>
</html>
