<!-- login.html -->

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giriş Yap</title>
</head>
<body>
    <h2>Giriş Yap</h2>
    <form method="POST">
        {% csrf_token %}

        <label for="username">Kullanıcı Adı</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Parola</label>
        <input type="password" id="password" name="password" required>

        <label for="admin_login">Admin Girişi</label>
        <input type="checkbox" id="admin_login" name="admin_login">

        <button type="submit">Giriş Yap</button>
    </form>

    {% if error %}
        <p style="color: red;">{{ error }}</p>  <!-- Hata mesajı gösterme -->
    {% endif %}

    <p>Hesabınız yok mu? <a href="{% url 'signup' %}">Hesap oluşturun</a></p>
    <p><a href="{% url 'password_reset' %}">Parolanızı mı unuttunuz?</a></p>
</body>
</html>
