<!DOCTYPE html>
<html>
<head>
    <title>Kayıt Ol</title>
</head>
<body>
    <h2>Hesap Oluştur</h2>

    <!-- Hata ve başarı mesajlarını görüntüleme -->
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Formu otomatik olarak göster -->
        <button type="submit">Kaydol</button>
    </form>

    <p>Zaten bir hesabınız var mı? <a href="{% url 'login' %}">Giriş yapın</a></p>
</body>
</html>
